BasedOnStyle: Microsoft
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: All
AllowAllConstructorInitializersOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBinaryOperators: true
BreakBeforeTernaryOperators: true
BinPackParameters: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ColumnLimit: 80
# IndentWidth: 2

BraceWrapping:
  AfterCaseLabel: false
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: false
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
